datasets/
runs/
wandb/
16_Regions/datasets
16_Regions/runs
16_Regions/wandb
16_Regions/tuning/runs
16_Regions/tuning/wandb
models/
ultralytics/.github
ultralytics/docker
ultralytics/examples
ultralytics/tests
ultralytics/ultralytics.egg-info
ultralytics/ultralytics/runs
tuning/runs
tuning/wandb




